@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'ProximaNova';
  src: url('../static/fonts/proxima-nova-regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../static/fonts/proxima-nova-bold.otf') format('opentype');
  font-weight: bold;
}
