@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ProximaNova';
  src: url('../static/fonts/proxima-nova-regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../static/fonts/proxima-nova-bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Bookmania';
  src: url('../static/fonts/bookmania-bold.otf') format('opentype');
  font-weight: 700;
}
